/* Main page settings */
:root {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Title section */
header {
    padding: 2% 5% 2% 5%;
    text-align: center;
}
.title {
    text-align: center;
    font-family: 'Fredoka';
    color: rgb(255, 0, 119);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

/* Card settings */

.section_top, .section_down {
    display: flex;
    justify-content: center;
}
.card {
    font-family: 'Fredoka';
    display: flex;
    background-color: rgb(9, 30, 49);
    color: white;
    align-items: center;
    margin:1%;
    flex-flow: wrap;
    box-shadow: 5px 5px rgba(0,0,0,0.1);
    width: 350px;
    max-height: 100%;
}
.card_info {
    margin-right: 10px;
    margin-bottom: 10px;
}
img{
    max-height: 130px;
    max-width: 130px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: rgb(145, 255, 255);
}
