:root {
        font-family: fredoka;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.head_container {
    text-align: center;
    margin: 2% 10% 5% 10%;
}

.title{
    color: rgb(241, 21, 131);
    margin-bottom: 5%;
}

.main_container{
    padding: 0%;
    margin: 2% 10%;
    /* debug settings */
    
}
img{
    float: left;
    max-width: 30%;
    max-height: 30%;
    margin-right: 5px;
}
.card{
    float: left;
    width:calc((100% / 3 - 25px));
    background-color: rgb(21, 15, 95);
    color: white;
    margin-bottom: 2%;
    margin: 10px;
}
.card_info{
    float: left;
    padding: 2%;
}
.name{
    margin: 10px 0 0 0 ;
}
.mail{
    color: aquamarine;
    text-decoration: none;
    min-width: fit-content;
    margin:10px 0 0 0;

}
.profession{
    margin: 10px 0 0 0;
}
.card_info::after{
    content: '';
    display: table;
    clear: both;
}
.card::after{
    content: '';
    display: table;
    clear: both;
}
.main_container::after{
    content: '';
    display: table;
    clear: both;
}