:root {
        font-family: fredoka;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.head_container {
    text-align: center;
}

.title{
    color: rgb(241, 21, 131);
    margin-bottom: 5%;
}

.text {
    margin: 0 15% 5% 15%;
}
.main_container{
    margin: 0 15% 0 15%;
    /* debug settings */
    
}
img{
    float: left;
    max-width: 30%;
    max-height: 30%;
}
.card{
    float: left;
    box-sizing: content-box;
    max-width: calc((100% / 3) - 10px);
    max-height: 50%;
    margin-right: 10px;
    background-color: rgb(21, 15, 95);
    color: white;
    margin-bottom: 2%;
}
.card_info{
    float: left;
}
.name{
    margin: 10px 0 0 0px;
}
.mail{
    color: aquamarine;
    text-decoration: none;
    min-width: fit-content;
    margin: 7px 0 0 0px;
}
.profession{
    margin: 7px 0 0 0px;
}
.card_info::after{
    content: '';
    display: table;
    clear: both;
}
.card::after{
    content: '';
    display: table;
    clear: both;
}
.main_container::after{
    content: '';
    display: table;
    clear: both;
}